table {
  min-width: 650,
}

.card-padding {
  padding: 20px
}

.MuiTable-root {
  thead {
    tr {
      th {
        background-color: grey;
        color:white;
        font-weight: bold;  
      }
    }
  }
}
